<div>

    <div>
        <sly-file-storage-upload v-if="context.slyProjectId"
                                 :options="{ folder: '/import/import-images-with-masks/' + context.formId + '/' }"
                                 @files-uploaded="state.files = '/import/import-images-with-masks/' + context.formId + '/'">
        </sly-file-storage-upload>
    </div>

    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 20px 0"
         v-if="!context.slyProjectId">
        <sly-field
                title="Result Project Name"
                description="Enter project name manually (optional) or keep empty to generate it automatically">
        </sly-field>
        <el-input placeholder="Enter Project Name" v-model="state.project_name"></el-input>
    </div>

    <div class="fflex align-start">
        <el-checkbox v-model="state.remove_source" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Remove temporary files after successful import"
                   description="Removes source directory from Team Files after successful import">
        </sly-field>
    </div>

</div>
